*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

.brand span{
    font-style: italic;
    color: white;
    font-size: 50px;
}

.nv1 a{
     text-decoration: none;
     font-weight: 600;
}

.section1{
    background-image: url("../images/background_images/h_img.jpg");
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    text-align: center;
   
}

.welcome{
    color: white;
    padding-top: 200px;
    font-weight: 700;
    font-size: 20px;
}

.welcome p{
    margin-bottom: 200px;
}