*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.brand span{
    font-style: italic;
    color: white;
    font-size: 50px;
}

.nv1 a{
     text-decoration: none;
     font-weight: 600;
}

.section1{
    background-image: url("../images/background_images/h_img.jpg");
    background-size: cover;
    height: 140vh;
    text-transform: uppercase;
    text-align: center;
   
}

.welcome{
    color: white;
    padding-top: 200px;
    font-weight: 700;
    font-size: 20px;
}

.welcome p{
    margin-bottom: 200px;
}

.about{
    padding-top: 50px;
    background-size: cover;
    height: 80vh;
    text-align: center;
    padding-top: 150px;
   
}

.about h1{
    text-align: center;
    padding-bottom: 20px;
}

.service{
    margin-top: 200px;
    background-image: url("../images/background_images/s_image.jpg");
    background-size: cover;
    height: 80vh;
    text-align: center;
    color: white;
    padding-top: 150px;
   
}

.heading{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.none{
    display: none;
}

.Whatwe{
    padding-bottom: 50px;
    height: 80vh;
}

.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }

.portfolio h1{
       text-align: center;
}

#portfolio{
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}



#overlay{
    padding: 50px;
    position: absolute;
    color: black;
    display: none;
   top: 0;
   left: 15px;
   font-weight: bold;
   width: 23%;
    height: 100%;
   font-size: 20px;
    background-color: rgba(241, 236, 236, 0.377);
}

#overlay2{
    padding: 50px;
    margin-left: 25%;
    position: absolute;
    font-weight: bold;
    display: none;
    color: black;
    max-width: 100%;
    height: 100%;
   top: 0;
   left: 12px;
   width: 23%;
    background-color: rgba(241, 236, 236, 0.411);
}

#overlay3{
    padding: 50px;
    margin-left: 50%;
    position: absolute;
    font-weight: bold;
    display: none;
    color: black;
    width: 23%;
    height: 100%;
   top: 0;
   left: 12px;
    background-color: rgba(241, 236, 236, 0.377);
}


#overlay4{
    padding: 50px;
    margin-left: 75%;
    position: absolute;
    font-weight: bold;
    width: 23%;
    height: 100%;
    color: black;
    display: none;
   top: 0;
   left: 12px;
    background-color: rgba(241, 236, 236, 0.377);
}

#overlay5{
    padding: 50px;
    position: absolute;
    width: 23%;
    height: 100%;
    font-weight: bold;
    color: black;
    display: none;
    top: 0;
   left: 12px;
    background-color: rgba(241, 236, 236, 0.377);
}

#overlay6{
    padding: 50px;
    position: absolute;
    font-weight: bold;
    width: 23%;
    height: 100%;
    display: none;
    color: black;
   top: 0;
   left: 12x;
    background-color: rgba(241, 236, 236, 0.377);
}

#overlay7{
    padding: 50px;
    margin-left: 50%;
    position: absolute;
    font-weight: bold;
    width: 23%;
    height: 100%;
    display: none;
    color: black;
   top: 0;
   left: 12px;
    background-color: rgba(241, 236, 236, 0.377);
}

#overlay8{
    padding: 50px;
    margin-left: 75%;
    position: absolute;
    font-weight: bold;
    width: 23%;
    height: 100%;
    display: none;
    color: black;
   top: 0;
   left: 12px;
    background-color: rgba(241, 236, 236, 0.377);
}


.contacts{
    background-image: url("../images/background_images/c_image.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Gabriela', serif;

}
 .cnt{
    background-color: rgba(0, 0, 0, 0.137);
    border: 2px solid black;
 }

.btn{
    margin-top: 30px;
}
footer{
    text-align: center;
    padding-top: 30px;
    height: 20vh;
}


@media only screen and (max-width: 500px){
    .portfolio{
        width: 100%;
        height: 100%;
        flex-direction: row;
        background-color: grey;

    }
    .col-md-3 img{
        max-width: 50%;
        max-height: 100%;
      }
    
}







